[submodule "protocols/wlr-protocols"]
	path = protocols/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "protocols/xfce-wayland-protocols"]
	path = protocols/xfce-wayland-protocols
	url = https://gitlab.xfce.org/kelnos/xfce-wayland-protocols.git
